#      MATLAB     #
###################
*.asv

#      UTILS      #
###################
utils/spikeSorting/Kilosort/
utils/spikeSorting/neuropixel-utils/
utils/spikeSorting/phy/
utils/spikeSorting/spikes/
utils/osfstorage-archive/annotation_volume_10um.npy
utils/osfstorage-archive/annotation_volume_10um_by_index.npy
utils/osfstorage-archive/structure_tree_safe_2017.csv
utils/osfstorage-archive/template_volume_10um.npy

#     Folders     #
###################
neuroImaging/