



#      MATLAB     #
###################
*.asv

#      UTILS      #
###################
/utils/spikeSorting/Kilosort/
/utils/spikeSorting/neuropixel-utils/
/utils/spikeSorting/phy/
/utils/spikeSorting/spikes/
/annotation_volume_10um_by_index.npy/
/utils/neuropixels_trajectory_explorer-main/*

#     Folders     #
###################
/utils/neuroImaging/*
/utils/eeglab_current/*

#      MATLAB     #
###################
/Setup/nCORTExCache.mat
utils/fieldtrip-20230522
utils/neuropixels_trajectory_explorer-main
utils/neuropixels_trajectory_explorer/
utils/neuropixels_trajectory_explorer-main/osfstorage-archive/structure_tree_safe_2017.csv
