#      MATLAB     #
###################
*.asv

#      UTILS      #
###################
/utils/spikeSorting/Kilosort/
/utils/spikeSorting/neuropixel-utils/
/utils/spikeSorting/phy/
/utils/spikeSorting/spikes/
/annotation_volume_10um_by_index.npy/

#     Folders     #
###################
/utils/neuroImaging/*

#      MATLAB     #
###################
/Setup/nCORTExCache.mat


